* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}
:root {
    --slogan-color: #fff;
    --cite-color: #e5e5e5;
    --dark-gray: #444;
    --not-so-dark-gray: #555;
    --lighter-gray: #ccc;
    --dark-author: #2b67b5;
    --lighter-author: #4582d1;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
header, section, footer {
    margin: 1em 0;
}
#content {
    width: 80%;
}
#slogans ul {
    padding: 0;
}
#slogans ul > li {
    list-style-type: none;
}
#slogans ul > li.divider,
#slogans ul > li.loading {
    margin: 1.5em 0;
}
figure {
    color: var(--slogan-color); 
    background-color: var(--not-so-dark-gray);
    border-radius: 0.25em;
    margin: 0.25em 0;
}
figure.current-user-author {
    background-color: var(--lighter-author);
}
figure figcaption,
figure blockquote {
    padding: 0.5em 1em;
}
figure blockquote {
    position: relative;
    font-size: 1.1em;
    padding: 0.75em 1em 0.5em 1em;
    border-bottom: 1px solid var(--lighter-gray);
    background-color: var(--dark-gray);
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}
figure.current-user-author blockquote {
    background-color: var(--dark-author); 
}
figure blockquote::before {
    content: "\25B6\FE0E";
    left: -0.2em;
    top: 0.6em;
    position: absolute;
}
figure blockquote p {
    overflow-wrap: break-word;
    line-height: 1.2em;
}
figure cite {
    font-style: italic;
    font-size: 0.85em;
}
figure cite a {
    color: var(--cite-color);
}
figure cite .timestamp {
    float: right;
}
header {
    margin-bottom: 1em;
}
header h1 {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}
header p {
    margin-left: 5em;
}
#templates {
    visibility: hidden;
    display: none;
}
button {
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
}
button:hover {
    background-color: green;
    color: white;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
form button,
form a,
form label {
    margin: 0 0.5em;
}

select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
  }
  select::-ms-expand {
    display: none;
  }
  
  .select {
    display: flex;
/*
    grid-template-areas: "select";
*/
    align-items: center;
    position: relative;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    /* font-size: 1.25rem; */
    cursor: pointer;
    line-height: 1.1;
    background-color: #f5f5f5;
    background-image: linear-gradient(to top, #f9f9f9, #f5f5f5 33%);
  }
  .select select, .select::after {
    /*
    grid-area: select;
    */
  }
  .select:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
            clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
  
  select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
  }
  
  label {
    font-size: 1.125rem;
    font-weight: 500;
  }
  
  .select + label {
    margin-top: 2rem;
  }
  
  /*
  body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    grid-gap: 0.5rem;
    font-family: "Baloo 2", sans-serif;
    background-color: #e9f2fd;
    padding: 1rem;
  }
  */