* {
    vertical-align: baseline;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
header, section, footer {
    margin: 1em 0;
}
#content {
    width: 80%;
}
header {
    position: relative;
    margin-bottom: 1em;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}
header p {
    margin-left: 5em;
}

button {
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
}
button:hover {
    background-color: green;
    color: white;
}

/* Author Filter */

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
form button,
form a,
form label {
    margin: 0 0.5em;
}

select {
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
}
select::-ms-expand {
    display: none;
}

.select {
    display: flex;
    /*
    grid-template-areas: "select";
    */
    align-items: center;
    position: relative;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    /* font-size: 1.25rem; */
    cursor: pointer;
    line-height: 1.1;
    background-color: #f5f5f5;
    background-image: linear-gradient(to top, #f9f9f9, #f5f5f5 33%);
}
.select:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
            clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
}

label {
    font-size: 1.125rem;
    font-weight: 500;
}

.select + label {
    margin-top: 2rem;
}

/* 
Hamburger 
Modified from: https://www.cssscript.com/demo/morphing-fullscreen-hamburger-menu-pure-htmlcss/
*/
nav label .menu {
    position: absolute;
    right: 10%;
    top: 1.5em;
    z-index: 100;
    width: 50px;
    height: 50px;
    background: #FFF;
    transition: .15s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
}
nav label .hamburger {
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .25s ease-in-out;
}
nav label .hamburger:after, label .hamburger:before {
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
}
nav label .hamburger:before { top: -10px; }
nav label .hamburger:after { bottom: -10px; }
nav label input { display: none; }
nav label .nav-content {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .15s 0s ease-in-out;
}
nav label .nav-content h1 {
    margin-left: -1em;
}
nav label .nav-content ul {
    margin-top: 1em;
}
nav label a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
}
nav label input:checked + .menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
} 
nav label input:checked + .menu .hamburger {
    transform: rotate(45deg);
} 
nav label input:checked + .menu .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
} 
nav label input:checked + .menu .hamburger:before {
    transform: rotate(90deg);
    top: 0;
}
nav label input:checked + .menu + .nav-content { opacity: 1; }