div#sloganator {
  align-self: flex-end;
  color: var(--sloganator-text-color);
  padding: 0.5em 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  position: relative;

  .widget {
    font-size: var(--base-font-size) !important;
    margin-bottom: 0.25rem;

    button,
    input.button {
      font-size: var(--base-font-size) !important;
    }
  }

  @media (pointer: none), (pointer: coarse), (max-width: 900px) {
    position: unset;
  }
}
